@font-face {
  font-family: 'YournameD7HomeHalf';
  src: url($VUE_APP_FONT_URL + 'YournameD7HomeHalf.ttf');
}

@font-face {
  font-family: 'AlibabaPuHuiTi-Regular, AlibabaPuHuiTi';
  src: url($VUE_APP_FONT_URL + 'Alibaba-PuHuiTi-Regular.ttf');
}

@font-face {
  font-family: 'AlibabaPuHuiTi-Medium, AlibabaPuHuiTi';
  src: url($VUE_APP_FONT_URL + 'Alibaba-PuHuiTi-Medium.ttf');
}

@font-face {
  font-family: 'AlibabaPuHuiTi-Heavy, AlibabaPuHuiTi';
  src: url($VUE_APP_FONT_URL + 'Alibaba-PuHuiTi-Heavy.ttf');
}

@font-face {
  font-family: 'AlibabaPuHuiTi-Light, AlibabaPuHuiTi';
  src: url($VUE_APP_FONT_URL + 'Alibaba-PuHuiTi-Light.ttf');
}

@font-face {
  font-family: 'AlibabaPuHuiTi-Bold, AlibabaPuHuiTi';
  src: url($VUE_APP_FONT_URL + 'Alibaba-PuHuiTi-Bold.ttf');
}

@font-face {
  font-family: 'DINAlternate-Bold, DINAlternate';
  src: url($VUE_APP_FONT_URL + 'DIN-Alternate-Bold.ttf');
}

@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url($VUE_APP_FONT_URL + 'YouSheBiaoTiHei-2.ttf');
}
